/***********************/
/* ƒ^ƒO                                         */
/***********************/
body
{
	background-color:transparent;
}

/***********************/
/* class               */
/***********************/
.player_status
{
	background-color:#00ccff;
	font-weight : bold;
	font-family : "‚l‚r ‚o–¾’©","‚l‚r –¾’©",serif;
}

.opp_status
{
	background-color:#ff0011;
	font-weight : bold;
	font-family : "‚l‚r ‚o–¾’©","‚l‚r –¾’©",serif;
}

.pieces_in_hand_table
{
	background-image: url("../img/board/ban_kaya_b.png");	
}

.app_info_body
{
	font-size: small;
}

/***********************/
/* id                  */
/***********************/
#container
{
	background-image: url("../img/background/tatami/tatami01.jpg");
	padding : 10px;
	position : absolute; left : 0px; top : 26px;
	z-index : 1;
}

#button_area
{
	position : absolute; left : 0px; top : 0px;
	z-index : 1;
}

#pieces_in_hand_button
{
	position : absolute; left : 0px; top : 0px;
	text-align : center;
	width : 80px;
	padding : 5px;
}

#app_info_button
{
	position : absolute; left : 100px; top : 0px;
	text-align : center;
	width : 100px;
	padding : 5px;
}

#pieces_in_hand_area
{
	background-image: url("../img/background/tatami/tatami01.jpg");
	width: 100%;
	padding : 10px;
	position : absolute; left : 0px; top : 26px;
	z-index : 10;
}

#app_info_area
{
	background-image: url("../img/background/paper/japanese-paper25-p.jpg");
	width: 90%;
	padding : 10px;
	position : absolute; left : 0px; top : 26px;
	z-index : 20;
}

#result_back
{
	background-color:#000000; 
    position:absolute; left:0px; top:0px;
    z-index : 100;
    visibility:hidden;
    min-height:100%; min-width:100%; width:100%; height:100%;
    filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;
}

#result_dialog
{
	position:absolute;/* left : 150px; top : 200px;*/
	z-index : 150;
	visibility:hidden; text-align:center;
    padding-top:10px;
    background-color:#FFFFFF; width:200px; height:100px;
}


