body
{
	background-color:transparent;
}

.menu
{
	height:26px;
}

.menu_title
{
	float:left;
	margin:0px;
	display:block;
	width:60px;
	margin-top:5px;
	text-align:center;
}

.menu_list
{
	margin:0px;
}

.menu_item_on
{
	float:left;
	display:block;
	background-color:#ff3333;
	width:60px;
	height:26px;
	margin-right:5px;
	text-align:center;
}

.menu_item_on a
{
	text-decoration:none;
	display:block;
	margin-top:5px;	
}
.menu_item_on a:link    {color:#ffffff;}
.menu_item_on a:visited {color:#ffffff;}
.menu_item_on a:hover   {color:#ffffff;}

.menu_item_off
{
	float:left;
	display:block;
	background-color:#ffcccc;
	width:60px;
	height:26px;
	margin-right:5px;
	text-align:center;
}
.menu_item_off a
{
	text-decoration:underline;
	display:block;
	margin-top:5px;
}
.menu_item_off a:link    {color:#000000;}
.menu_item_off a:visited {color:#000000;}
.menu_item_off a:hover   {color:#ff0000;}

#container
{
	background-image: url("../img/background/tatami/tatami01.jpg");
/*	margin : 10px; */
	padding : 10px;
	clear:both;
    border-top:solid 10px #ff3300;
    border-bottom:solid 1px #ff3300;
    border-left:solid 1px #ff3300;
    border-right:solid 1px #ff3300;	
}


/* ƒfƒoƒbƒOî•ñ */
#debug_info_area
{
	margin : 10px auto;
	padding : 10px;
	width : 500px;
	background-image: url("../img/board/ban_kaya_b.png");
	font-family: "‚l‚r ‚o–¾’©","‚l‚r –¾’©",serif;
}

/* ƒvƒŒ[ƒ„[‚Ìó‘Ô */
#player_info_area
{
	margin : 10px;
	padding : 10px;
	vertical-align : bottom;
	/* background-image: url("img/board/ban_kaya_b.png"); */
}
/* ‘Šè‚Ìó‘Ô */
#opp_info_area
{
	margin : 10px;
	padding : 10px;
	vertical-align : top;
	/* background-image: url("img/board/ban_kaya_b.png"); */
}
/* «Šû”Õ */
#board_area
{
	margin : 10px;
	padding : 10px;
	clear : both;
	width : 150px;
	height : 150px;
	background-color : #ffffaa;
}

#result_back
{
	background-color:#000000; 
    position:absolute; left:0px; top:0px;
    visibility:hidden;
    min-height:100%; min-width:100%; width:100%; height:100%;
    filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;
}

#result_dialog
{
	position:absolute; visibility:hidden; text-align:center;
    padding-top:10px;
    background-color:#FFFFFF; width:200px; height:100px;
}

#special_thx
{
	margin : 10px;
	padding : 10px;
	font-size: small;
}

#special_thx_link
{
	margin : 10px;
	font-size: small;
}

#player_status
{
	background-color:#00ccff;
	font-weight : bold;
	font-family : "‚l‚r ‚o–¾’©","‚l‚r –¾’©",serif;
}

#opp_status
{
	background-color:#ff0011;
	font-weight : bold;
	font-family : "‚l‚r ‚o–¾’©","‚l‚r –¾’©",serif;
}
